<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/"
        class="navbar-brand">Tour of Heroes</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isLogin else loginOrRegister"
          routerLinkActive="active">
          <a routerLink="/login">Logout</a>
        </li>
        <ng-template #loginOrRegister>
          <li routerLinkActive="active">
            <a routerLink="/login">Login</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/regitser">Regitser</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
