.hero-details {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    border-radius: 1px;
}

input[required].ng-valid.ng-touched {
    border-left: 5px solid green;
    border-radius: 5px;
}